*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color:white;
}





.main button{
    width: 100px;
    font-size: 20px;
    margin-bottom: -20px;
    border-radius: 10px;
    background-color: red;


}

#code{
    margin-top: 10px;
}

