*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 21, 21, 0.614);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 400px;
    height: 400px;
    border: 10px solid rgb(240, 240, 181);
    border-radius:50%;
    position: relative;
    display: flex;
 justify-content: center;
 align-items: center; 
 background-color:#2a2626;
 color:#fff;
 
}

.clock span{
    position:absolute;
    transform: rotate(calc(30deg*var(--i)));
    /* top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px; */
 /* inset is the shorthand of top,bottom,left and right */
  inset: 20px; 
  text-align: center; 

}
.clock span b{
  position: absolute;   
 transform: rotate(calc(-30deg*var(--i)));
 font-size: 25px;


}

.point{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    background-color: #fff;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
     text-align: center;
      border-radius: 10px;
}

.hand i {
    position: absolute;
    width: 5px;
    height: 100px;
    background-color: black;
    border-radius: 20px;

   
    
}

.minutes i {
    height: 200px;
    background-color: red;
}

.name{
    position: absolute;
    top: 90px;
    font-weight: bold;
    font-size: 17px;
    color:rgb(237, 213, 0);
   

}