*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
} 

.search{
    display: flex;
}


.search input{
     padding: 0.5rem 1rem;
    width: 15rem;
}
.search input:hover{
    outline: 1px solid purple;
}



.primary-btn{
    background: purple;
    color: white;
    border: none;
    padding:0.5rem 1rem ;
}
.primary-btn:hover{
    background-color:rgb(58, 35, 58);
}
.primary-btn:active{
    background-color:rgb(233, 91, 233);
}

.profile-box{
  
    padding: 4rem 2rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.1);
}
.profile-box:hover{
    transform:rotate(-1.2deg)scale(1.02);
    transition: 0.5s ease-in;
}

.top-section{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}
.top-section button{
    align-self: center;
}

.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.self h1{
    font-size: 1rem;
}

.status{
    display: flex;
    justify-content: space-between;
}
.avatar{
    width: 10rem;
    height: 10rem;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatar img:hover{
    transform: scale(1.02);
}