*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
   background-color:linear-gradient(60deg,blue,green);
   color:#595bda9d;
   background:linear-gradient(60deg,rgb(185, 240, 241),rgb(241, 234, 165));
}

.box{
    width: 25%;
    /* height: 500px; */
    border: 1px solid;
    display:flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
     box-shadow: 0px 0px 6px black;
    background:linear-gradient(60deg,rgb(185, 240, 241),rgb(241, 234, 165));
   
}

.box header{
    font-size: 35px;
    text-align: center;
    font-weight:bold;
    margin-top: 10px;
    
}

.box main form div{
    margin-top: 20px;
    
}

.box form div input{
    width: 96%;
    height: 40px;
    border-radius: 2px;
    font-size: 21px;
    box-shadow: 0px 0px 2px black;
   
    
}
.box form div label{
    font-size: 25px;
    line-height: 20px;
   
}

.box main{
    margin-bottom: 25px;
}
button{
    width: 97%;
    height:40px;
    font-size: 20px;
    border-radius: 4px;
   box-shadow: 0px 1px 1px black;

}

button:active{
    background-color: rgb(169, 166, 166);
    box-shadow: 0px 0px 0px black;
    font-size:19px ;
}

.color{
    color: #f10909;
    font-size: 25px;
}

